<!DOCTYPE html>
<html>
   <head>
      <title>Livspace.ml: Redefining the modern home lifestyle</title>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1" name="viewport">
      <link href="favicon.png" rel="shortcut icon">

      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <meta name="description" content="The most powerful Coming Soon / Errors / Domain For Sale template">
      <meta name="keywords" content="Constantly we add new demos at users requests. So far we will create templates for: electric, veterinarian, loan agency, charity agency, sitter, moving company, barber, health magazine, book writer, plumber, art agency, interior design company, webmaster, application, seo agency, university, event company, developer, car rental, band, gym, designer, marketing agency, hosting company, travel agency, real estate company, photographer, renovator, small business company, hotel, mechanic, lawyer, school, shop and much more. If you have own idea for great 404/Coming Soon/Domain For Sale, please do not hestitate and tell us about that. We consider all your ideas!">
      
      <link href="css/main.css" rel="stylesheet">
      <link href="css/form.css" rel="stylesheet">
      <link href="css/font-awesome.min.css" rel="stylesheet">
      <link href="css/prettyPhoto.css" rel="stylesheet">

      <link rel="apple-touch-icon" sizes="favicons/180x180" href="favicons/apple-touch-icon.png">
      <meta name="theme-color" content="#ffffff">

      <meta property="og:url" content="http://povestea-noastra.com/theme/huge404/_landing/index.html" />
      <meta property="og:title" content="HUGE - Multipurpose Coming Soon Error 404 Domain For Sale" />
      <meta property="og:description" content="The most powerful Coming Soon / Errors / Domain For Sale template." />
      <meta property="og:image" content="https://povestea-noastra.com/theme/huge404/_landing/images/img-fb/default.jpg" />
      <meta property="og:image:width" content="1200" />
      <meta property="og:image:height" content="630" />
      <meta property="fb:app_id" content="1938138009790018" />

      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="https://povestea-noastra.com/theme/huge404/_landing/images/img-fb/default.jpg">
      <meta name="twitter:site" content="@povestea-noastra">
      <meta name="twitter:creator" content="@G">
      <meta name="twitter:title" content="HUGE - Multipurpose Coming Soon Error 404 Domain For Sale">
      <meta name="twitter:description" content="The most powerful Coming Soon / Errors / Domain For Sale template.">
   </head>
   <body ng-app="company">
      <div class="all-wrapper">
         <header class="desktop-menu menu-top-w menu-activated-on-hover navbar-fixed-top">
            <div class="menu-top-i os-container">
               <ul class="main-menu">
                  <li class="active">LIVSPACE <sup class="version">VR</sup></li>
               </ul>
               <ul class="main-menu">
                  <li class="active"><a href="#sectionIntro">Home</a></li>
                  <li><a href="#sectionDemos">Demos</a></li>
                  <li><a href="#sectionIndustries">Demo Industries</a></li>
                  <li><a href="#sectionCustomWorks">Custom Works <sup>@</sup></a></li>
                  <li><a href="#sectionFeatures">Features</a></li>
               </ul>
               <ul class="small-menu">
                  <li><a href="#"></a></li>
                  <li><a class="highlight" href="#">SIGN IN</a></li>
               </ul>
            </div>
            <div class="mobile-menu-w">
               <div class="mobile-menu-holder color-scheme-dark">
                  <ul class="mobile-menu">
                     <li class="active">HUGE</li>
                     <li><a href="#">Support</a></li>
                     <li><a href="#">Purchase</a></li>
                  </ul>
               </div>
               <div class="mobile-menu-i">
                  <div class="mobile-logo-w">
                     <div class="logo-element">HUGE</div>
                  </div>
                  <div class="mobile-menu-trigger"><i class="fa fa-bars" aria-hidden="true"></i></div>
               </div>
            </div>
         </header>

        

         <section class="section-header-w centered" id="sectionDemos">
        <div class="os-container">
               <div class="section-header">
                  <h2 class="section-title">{{layouts}} Gorgeous Layouts</h2>
                  <div class="section-desc">We have created multiple gorgeous layout styles, pick the one that fits you best. Dark, Light or Colorful, Game or Parallax styles available for each of them.</div>
               </div>
            </div>
         </section>

         <section class="demos-w" ng-controller="demosController as demos">
            <div class="row">
               <div class="col-sm-6 col-xl-4 sreveal" ng-repeat="demo in demos.demo">
                  <a class="demo-w" href="{{demo.url}}" target="_blank">
                     <div class="demo-header" ng-bind-html='demo.header'></div>
                     <div class="demo-shot-w">
                        <div class="demo-shot" style="background-image: url('{{demo.image}}')"></div>
                     </div>
                  </a>
               </div>
            </div>
         </section>

         <section class="section-header-w centered" id="sectionIndustries">
            <div class="os-container">
               <div class="section-header">
                  <h2 class="section-title">Choose your industry</h2>
                  <div class="section-desc">Create the perfect website for your business.</div>
               </div>
            </div>
         </section>

         <section class="demos-w" ng-controller="industriesController as industries">
            <div class="row">
               <div class="col-sm-6 col-xl-4 sreveal" ng-repeat="industry in industries.industry">
                  <a class="demo-w" href="{{industry.url}}" target="_blank">
                     <div class="demo-header" ng-bind-html='industry.header'></div>
                     <div class="demo-shot-w">
                        <div class="demo-shot" style="background-image: url('{{industry.image}}')"></div>
                     </div>
                  </a>
               </div>
            </div>
         </section>
         
         <section class="section-header-w centered" id="sectionCustomWorks">
            <div class="os-container">
               <div class="section-header">
                  <h2 class="section-title">Custom Works</h2>
                  <div class="section-desc">Couldn't find your layout?<br />
                    Submit your idea and you will receive it for FREE in just one week.</div>
               </div>
            </div>
         </section>

         <section class="demos-w" ng-controller="customsController as c">
            <div class="row">
               <div class="col-sm-6 col-xl-4 sreveal" ng-repeat="work in c.industry">
                  <a class="demo-w" href="{{work.url}}" target="_blank">
                     <div class="demo-header" ng-bind-html='work.header'></div>
                     <div class="demo-shot-w">
                        <div class="demo-shot" style="background-image: url('{{work.image}}')"></div>
                     </div>
                  </a>
               </div>
            </div>
         </section>

         <section class="section-header-w centered" id="weekly">
            <div class="os-container">
               <div class="section-header">
                  <h2 class="section-title">Weekly Updates</h2>
                  <div class="section-desc">HUGE - weekly will be updated with new templates</div>
               </div>
            </div>
         </section>

         <section class="soon-w demos-w" ng-controller="soonsController as soons">
            <div class="row">
               <div class="col-sm-6 col-xl-4 sreveal" ng-repeat="soon in soons.soon">
                  <a class="demo-w" href="{{soon.url}}">
                     <div class="demo-header">{{soon.header}}</div>
                     <div class="demo-shot-w">
                        <div class="demo-shot" style="background-image: url('{{soon.image}}')"></div>
                     </div>
                  </a>
               </div>
            </div>
         </section>

         <section class="section-header-w" id="sectionFeatures">
            <div class="os-container">
               <div class="section-header">
                  <h2 class="section-title">Features List</h2>
                 <!--  <div class="section-desc">Huge is a Modern, high-performance and colorful multipurpose coming soon / 404 error / Domain For Sale template, it offers multiple pre-designed pages for purposes like agencies, general business, wedding, app launching, events etc. it built with fully responsive and retina ready elements, and also it is very highly customizable.</div> -->
                  <div class="section-desc"><!-- Huge is a Modern, high-performance and colorful multipurpose coming soon / 404 error / Domain For Sale template.  -->Huge is an always-improving toolchain that gains new features every week. Our world-class engineering team constantly iterates upon every facet of the Huge stack.</div>
               </div>
            </div>
         </section>

         <section class="features-table">
            <div class="os-container">
               <div class="row no-gutters">
                  <div class="col-xl-4 col-sm-6 b-l feature-cell">
                     <div class="feature-icon"><img src="images/ic/responsive.svg" /></div>
                     <h6 class="feature-title">Fully Responsive</h6>
                     <div class="feature-text">100% responsive and retina-ready design, beautiful design with an emphasis on readability.</div>
                  </div>
                  <div class="col-xl-4 col-sm-6 b-r b-l feature-cell">
                     <div class="feature-icon"><img src="images/ic/eye.svg" /></div>
                     <h6 class="feature-title">Unique Design</h6>
                     <div class="feature-text">Unique, creative design with a huge attention to details and carefully crafted elements and features.</div>
                  </div>
                  <div class="col-xl-4 col-sm-6 b-r feature-cell">
                     <div class="feature-icon"><img src="images/ic/chat.svg" /></div>
                     <h6 class="feature-title">Elite Support</h6>
                     <div class="feature-text">Speedy support with average response times of less than 6 hours.</div>
                  </div>
                  <div class="col-xl-4 col-sm-6 b-l feature-cell">
                     <div class="feature-icon"><img src="images/ic/check.svg" /></div>
                     <h6 class="feature-title">Modern Design</h6>
                     <div class="feature-text">Clean, modular, modern Design.</div>
                  </div>
                  <div class="col-xl-4 col-sm-6 b-r b-l feature-cell">
                     <div class="feature-icon"><img src="images/ic/layouts.svg" /></div>
                     <h6 class="feature-title">Layouts</h6>
                     <div class="feature-text">Unlimited page content layouts.</div>
                  </div>
                  <div class="col-xl-4 col-sm-6 b-r feature-cell">
                     <div class="feature-icon"><img src="images/ic/code.svg" /></div>
                     <h6 class="feature-title">Clean Code</h6>
                     <div class="feature-text">Practical and flexible code.</div>
                  </div>
               </div>
            </div>
         </section>

         <section class="call-to-action">
            <h3 class="cta-header">Ready to get started?</h3>
            <div class="cta-desc">Work with Huge and you won't be disappointed</div>
            <div class="cta-btn">
            	<a class="btn btn-primary btn-lg btn-rounded" href="https://themeforest.net/user/squirrellabs/portfolio?ref=SquirrelLabs" target="_blank">
                  <span>Buy Now</span>
            		<i class="fa fa-arrow-right" aria-hidden="true"></i>
            	</a>
               <br /><br />
               <div class="cta-desc" style="color: #fd8b66; font-size: 18px">Buy <strong style="font-weight: 900;">"HUGE"</strong> and we will give absolutely <strong style="font-weight: 900;">FREE</strong> another item, from our ThemeForest portfolio.<br/>This is a great special offer.</div>
            </div>
         </section>

         <footer class="footer-w">
            <div class="fluid-container">
               <div class="deep-footer">
               		&copy; <span class="year"></span> Squirrellabs All rights reserved.
               	</div>
            </div>
         </footer>
         <div class="display-type"></div>
      </div>

      <div class="reg_container">
          <div class="reg_optionbtn">
              <i class="fa fa-star" aria-hidden="true"></i>
          </div>
          <!-- <div class="reg_whitespace"></div> -->

          <div class="home_register_form">
              <div class="form-content">
                  <p>If you like this theme, Please support us by rating 5 stars
                     <i class="fa fa-star" aria-hidden="true"></i>
                     <i class="fa fa-star" aria-hidden="true"></i>
                     <i class="fa fa-star" aria-hidden="true"></i>
                     <i class="fa fa-star" aria-hidden="true"></i>
                     <i class="fa fa-star" aria-hidden="true"></i>
                     (<a href="images/rate.png" rel="prettyPhoto">How to rate?</a>).
                     It keeps us motivated for improving our Product & Support.</p>
                  <p>We greatly appreciate your Business and we will give absolutely <b>FREE</b> another item, from our <a href="#" target="_blank">ThemeForest portfolio</a>, this is great special offer!</p>
              </div>
               <a class="btn btn-primary btn-md btn-rate" href="#" target="_blank">RATE US</a>
               <a class="btn btn-primary btn-md btn-contact" href="#" target="_blank">Contact Us</a>
          </div>
      </div>

      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/angular.min.js"></script>
      <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
      <script type="text/javascript" src="js/scrollreveal.min.js"></script>
      <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
      <script type="text/javascript" src="js/jquery.nav.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-49512727-0', 'auto');
        ga('send', 'pageview');
      </script>

      <!-- Yandex.Metrika counter -->
      <script type="text/javascript" >
         (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
         m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
         (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

         ym(50698168, "init", {
            id:50698168,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
         });
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/50698168" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->
   </body>
</html>